<ul class="navbar-nav flex-grow-1">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a  class="nav-link text-dark" asp-area="Admin" asp-page="/Management/UserManagement" title="Users Management Page">Users Management</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Admin" asp-page="/Management/ProductManagement" title="Products Management Page">Products Management</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Admin" asp-page="/Management/AuthorManagement" title="Authors Management Page">Authors Management</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Admin" asp-page="/Management/OrderManagement" title="Orders Management Page">Orders Management</a>
        </li>
    }
</ul>